page-home {
  a{
    // color: gray;
    color: rgb(23, 90, 23) ;
    font-size: 15px;
  }
  .bold-text{
    font-weight: bold;
  }

  .logo{
    width: 50px;
    height: 50px;
  //  float: left;
  }
  .title{
    color: rgb(198,158,62) ;
    font-size: 20px;
  }



.spinner-md-crescent circle{
 stroke : rgb(23, 90, 23) ;
}

}
